<tr>
    <th scope="row"><%= movie.id %></th>
    <td><%= link_to movie.codigo, movie_path(movie) %></td>
    <td><%= movie.titulo %></td>
    <td><%= movie.director %></td>
    <td><%= movie.genero %></td>
</tr>